<div><iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/JdjiuzXHYPk"
        height="700" width="1243"></iframe>
    <h3><strong style="color: rgb(0, 0, 0);">About QUT</strong></h3>
    <p><span style="color: rgb(0, 0, 0);">Welcome to QUT (Queensland University of
            Technology)&nbsp;&nbsp;- a leading Australian university with a truly global outlook. Home
            to nearly 50,000 students, we're well known as 'the university for the real world' because
            of our close links with industry and our relevant teaching and applied research. We offer
            academic programs in fields spanning business, creative industries, education, engineering,
            health, law, science, and social justice across five faculties.</span></p>
    <p><span style="color: rgb(0, 0, 0);">We are transforming the learning experience, embedding work
            integrated learning, and focusing on developing entrepreneurial skills. We offer executive
            education and professional development through QUTeX, flexible learning through QUT Online,
            and pathways into our undergraduate programs through QUT College.</span></p>
    <p><span style="color: rgb(0, 0, 0);">QUT is well-known for our strong links to industry and
            government, and our inter-disciplinary teams create high-impact research in areas as diverse
            as climate change mitigation, digital media, materials science, and biomedical
            innovation.</span></p>
    <h3><span style="color: rgb(0, 0, 0);"><img alt="Bond University Corporate" src="https://academicjobs.mysmartjobboard.com/files/userfiles/5b028e_7a12bbace0db4cef8077ef64b7b7be51~mv2.jpg">
        <img alt="QUT Corporate"
                src="https://academicjobs.mysmartjobboard.com/files/userfiles/QUT_Corporate_Video_Still_2022_009.jpg"></span>
    </h3>
    <h3><strong style="color: rgb(0, 0, 0);">World class research</strong></h3>
    <p><span style="color: rgb(0, 0, 0);">We provide transformative research that delivers real world
            solutions. QUT researchers collaborate across disciplines and work with industry, research
            and government partners to find solutions to societal problems and address the innovation
            needs of a global economy. Our research centres reflect our core strengths and underpin the
            partnerships that translate our research into real-world applications.</span><strong
            style="color: rgb(0, 0, 0);">&nbsp;</strong><span style="color: rgb(0, 0, 0);">QUT
            researchers work on projects in all corners of the globe, and beyond, collaborating on
            drones in Antarctica, disease-resistant crops in Uganda, autonomous vehicles in France and
            even on Mars Rovers with NASA.</span></p>
    <p><span style="color: rgb(0, 0, 0);"><img alt="QUT Corporate 2" 
                src="https://academicjobs.mysmartjobboard.com/files/userfiles/QUT_Corporate_Video_Still_2022_005.jpg"></span>
    </p>
    <h3><strong style="color: rgb(0, 0, 0);">Real world teaching and learning</strong></h3>
    <p><span style="color: rgb(0, 0, 0);">QUT delivers exceptional campus-based and online educational
            experiences that prioritise learner success and graduate employability. Our staff recognise
            that the real world isn’t just about qualifications—it’s about collaborating, innovating and
            thinking outside the box. QUT prepares graduates to be adaptable, giving hands-on industry
            experience and connecting them to future opportunities.</span></p>
    <p><span style="color: rgb(0, 0, 0);">We are transforming the learning experience—embedding
            work-integrated learning and focusing on developing entrepreneurial skills. We offer
            executive education and professional development through QUTeX, flexible learning through
            QUT Online and pathways into our undergraduate programs through QUT College.</span></p>
    <p><span style="color: rgb(0, 0, 0);"><img alt="QUT Corporate 3"
                src="https://academicjobs.mysmartjobboard.com/files/userfiles/QUT_Corporate_Video_Still_2022_002.jpg"></span>
    </p>
    <h3><strong style="color: rgb(0, 0, 0);">Life at QUT</strong></h3>
    <p><span style="color: rgb(0, 0, 0);">Our staff make a real difference. From the academic staff who
            inspire incredible graduates and researchers who change the world, to the support staff who
            create an environment in which all this can happen.</span></p>
    <p><span style="color: rgb(0, 0, 0);">Our strong links with business and industry ensure we
            constantly evolve and maintain our reputation as a university that is planted firmly in the
            real world. We strive to find the best people for the best jobs to make the world a better
            place - and we'd love you to be a part of it.</span></p>
    <p><span style="color: rgb(0, 0, 0);">We're committed to building a culture that fosters connection
            between people and purpose. Beyond personal and professional fulfillment, a career at QUT
            offers:</span></p>
    <ul>
        <li><span style="color: rgb(0, 0, 0);">A healthy work-life balance with a blend of on-campus and
                off-campus work arrangements for applicable positions.&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Competitive remuneration with up to 17%
                superannuation.&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Generous maternity leave including primary carer parental
                leave of up to 26 weeks (including 17% super).&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Stay healthy with Fitness Passport and enjoy discounted
                rates on private health insurance.&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Leave loading of 17.5%.&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Purchased Leave Scheme - up to 8 extra
                weeks.&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Salary Packaging Scheme for additional superannuation
                contributions, vehicle leasing, and on-campus services such as childcare, parking, and
                gyms.&nbsp;</span></li>
        <li><span style="color: rgb(0, 0, 0);">Numerous opportunities for professional development
                including leadership programs and workshops, and our study assistance scheme.</span>
        </li>
        <li><a href="https://www.qut.edu.au/careers/indigenous-employment" rel="noopener noreferrer" target="_blank"
                style="color: rgb(0, 0, 0);">Commitment to our Indigenous Australian
                staff</a><span style="color: rgb(0, 0, 0);">&nbsp;through initiatives such as the
                Indigenous Australian Staff Network, Cultural and Ceremonial Leave, Staff Development
                Workshops, and representation on university committees.</span></li>
        <li><span style="color: rgb(0, 0, 0);">We see </span><a
                href="https://www.qut.edu.au/careers/life-at-qut/diversity-and-inclusivity" rel="noopener noreferrer"
                target="_blank" style="color: rgb(0, 0, 0);">diversity and
                inclusion</a><span style="color: rgb(0, 0, 0);">&nbsp;as our strengths.&nbsp;</span>
        </li>
        <li><a href="https://www.qut.edu.au/careers/life-at-qut" rel="noopener noreferrer" target="_blank"
                style="color: rgb(0, 0, 0);">Explore more benefits of life at
                QUT</a><span style="color: rgb(0, 0, 0);">.</span></li>
    </ul><iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/nJdZntMDTmY"
        height="697" width="1243"></iframe>
    <h3><strong style="color: rgb(0, 0, 0);">Belong at QUT</strong></h3>
    <p><span style="color: rgb(0, 0, 0);">We are guided by our values of&nbsp;</span><a
            href="https://www.qut.edu.au/careers/life-at-qut" rel="noopener noreferrer" target="_blank"
            style="color: rgb(0, 0, 0);">Ambition, Curiosity, Integrity, Inclusiveness, Innovation, and
            Academic Freedom</a><span style="color: rgb(0, 0, 0);">&nbsp;and our&nbsp;</span><a
            href="https://www.qut.edu.au/connections" rel="noopener noreferrer" target="_blank"
            style="color: rgb(0, 0, 0);">QUT Connections</a><span style="color: rgb(0, 0, 0);">&nbsp;in
            our mission to inspire and shape the next generation of change-makers.&nbsp;</span></p>
    <p><span style="color: rgb(0, 0, 0);">In support of our&nbsp;</span><a
            href="https://www.qut.edu.au/careers/indigenous-employment" rel="noopener noreferrer" target="_blank"
            style="color: rgb(0, 0, 0);">Indigenous Australians Employment
            Strategy</a><span style="color: rgb(0, 0, 0);">, we aspire to an Indigenous Australian
            workforce participation of 3.6% and we encourage Aboriginal Australians and Torres Strait
            Islander people to join us in pursuing a fulfilling career.&nbsp;</span></p>
    <p><span style="color: rgb(0, 0, 0);">We believe in creating safe spaces for inclusivity to flourish
            and we know that diversity is our strength –&nbsp;</span><a
            href="https://www.qut.edu.au/careers/life-at-qut/diversity-and-inclusivity" rel="noopener noreferrer"
            target="_blank" style="color: rgb(0, 0, 0);">see our
            commitment</a><span style="color: rgb(0, 0, 0);">. If you’re curious, innovative, and ready
            to experience what a career at QUT can offer, we’re ready to meet you.&nbsp;</span></p>
    <iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/g7upnWindDA"
        height="697" width="1243"></iframe>
    <p><br></p>
</div>